@import url(./colors.css);

@font-face {
	font-family:		"Mx437 VGA";
	/*src:			url("../../src/fonts/ibm_vga8.woff2") format("woff2");*/
	src:			url("src/fonts/ibm_vga8.woff2") format("woff2");
	font-weight:		normal;
	font-style:		normal;
	font-display:		swap;
}


* {
	padding:		0;
	margin:			0;
	font-family:		"Mx437 VGA", monospace;
	box-sizing:		border-box;
}


.header_container {
	max-width:		900px;
	padding:		1rem;
	margin-left:		auto;
	margin-right:		auto;
	display:		flex;
	font-size:		18px;
	text-shadow:		1px 1px 0 #1C1C1C;
	text-decoration:	underline;
	justify-content:	space-around;
}


.header_container>a {
	text-decoration:	none;
	color:			var(--text-color);
}


body {
	background-color:	var(--main-bg-color);
	font-size:		16px;
	color:			var(--text-color);
}


hr {
	border:			none;
	border-bottom:		1px solid var(--line-color);
	max-width:		900px;
	margin-left:		auto;
	margin-right:		auto;
}


a {
	text-decoration:	underline;
	color:			var(--link-color);
}


header {
	min-height:		5vh;
	border-bottom:		1px solid var(--line-color);
	align-items:		center;
}


.container {
	max-width:		800px;
	margin-left:		auto;
	margin-right:		auto;
	padding-top:		1rem;
	padding-bottom:		1rem;
	min-height:		90vh;
}


.copyright {
	padding-top:		1rem;
	padding-bottom:		1rem;
	font-size:		14px;
	color:			var(--line-color);
	max-width:		800px;
	margin-left:		auto;
	margin-right:		auto;
}


footer {
	border-top:		1px solid var(--line-color);
	min-height:		5vh;
}
