@import url(./colors.css);

@font-face {
	font-family: "brains";
	src: url("src/fonts/JetBrainsMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	line-height: 1.5;
	box-sizing: border-box;
}

.header_container {
	max-width: 900px;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}

.header_container>a {
	text-decoration: none;
	color: var(--text-color);
}

body {
	background-color: var(--main-bg-color);
	font-family: 'brains', sans-serif;
	font-size: 16px;
	color: var(--text-color);
}

hr {
	border: none;
	border-bottom: 1px solid var(--line-color);
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: underline;
	color: var(--link-color);
}

header {
	min-height: 5vh;
	border-bottom: 1px solid var(--line-color);
	align-items: center;
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	min-height: 90vh;
}

.copyright {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: .75rem;
	color: var(--line-color);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	border-top: .125rem solid var(--line-color);
	min-height: 5vh;
}