:root {
	--main-bg-color:	#010409;
	--line-color:		Gray;
	--text-color:		Snow;
	--link-color:		Azure;
	--log-entry-color:	#707070;
	--ipd-hover-color:	#909090;
	--ipd-hover-bcolor:	#121212;
	--ipd-bcolor:		black;
	--tit-border-color:	#5d5d5d;
	--log-entry-a-color:	MediumSeaGreen;
	--log-entry-recv-color:	SteelBlue;
	--log-entry-type-color:	GoldenRod;
}
